.calendar {
  @include calendar-width;

  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  gap: $gap-value;
  padding: $padding-value;

  &__day {
    @include cell-parameters($cell-size);

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #eee;
    transition: all 500ms;
  }

  &__day:hover {
    background-color: #ffbfcb;
    transform: translateY(-20px);
    cursor: pointer;
  }
}
